/*
 * @Author: ataola 
 * @Date: 2020-04-19 00:28:16 
 * @Last Modified by: mikey.zhaopeng
 * @Last Modified time: 2020-06-01 17:46:28
 */

 /* flex */
 .flex {
     display: flex
 }

 .flex-left {
    justify-content: flex-start;
 }

 .flex-right {
    justify-content: flex-end;
}

 .flex-center {
    justify-content: center;
 }

 .flex-space-between {
     justify-content: space-between;
 }
 .flex-align-content-full {
     align-content: space-between;
 }

 .flex-top {
    align-items: flex-start;
 }

 .flex-middle {
     align-items: center;
 }

 .flex-bottom {
    align-items: flex-end;
 }

 .flex-fixed {
    flex-shrink: 0;
 }

 .flex-fluid {
     flex-grow: 1;
 }

 .flex-row {
     flex-direction: row;
 }

 .flex-col {
     flex-direction: column;
 }

.flex-no-wrap {
    flex-wrap: nowrap;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-full {
    flex-basis: 100%;
}